{% extends 'base.html' %}

{% block title %}
<title>Delete Course | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a></li>
        <li><a class="nav-link" href="{{ url_for('viewProvider', provider_name='temp') }}">provider-name ></a></li>
        <li><a class="nav-link" href="{{ url_for('viewCourse', provider_name='temp', course_name='temp') }}">course-name
                ></a></li>
        <li>Delete Course</li>
    </ul>
</nav>

<form method="post">
    <h2 class="subject-header">Delete a Course</h2>
    <h3 class="confirm-deletion"><b>Are you sure you want to delete course-name?</b></h3>
    <div class="delete-buttons">
        <a class="delete" href="{{ url_for('deleteCourse', provider_name='temp', course_name='temp') }}">Delete Course</a>
        <a href="{{ url_for('viewCourse', provider_name='temp', course_name='temp') }}">Cancel</a>
    </div>
</form>

{% endblock %}