{% extends 'base.html' %}

{% block title %}
<title>Update {{ course.name }} | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a></li>
        <li><a class="nav-link" href="{{ url_for('viewProvider', provider_name=provider_name) }}">{{ provider_name }} ></a></li>
        <li><a class="nav-link" href="{{ url_for('viewCourse', provider_name=provider_name, course_name=course.name) }}">{{
                course.name }} ></a></li>
        <li>Update {{ course.name }} Course</li>
    </ul>
</nav>

<form method="post" name="Form">
    <h2 class="subject-header">Update a Course</h2>
    <div class="form-container">
        <label for="course-name"><b>Course Name</b></label>
        <input type="text" placeholder="Enter Course Name" name="course_name" value="{{ course.name }}" required>

        <label for="provider-name"><b>Course Provider Name</b></label>
        <select name="selected-provider" required>
            <option disabled value> -- Select Provider -- </option>
            {% for provider in providers %}
            <option value="{{ provider.id }}" {% if course.provider_id==provider.id %} selected {% endif %}>{{
                provider.name }} </option>
            {% endfor %}
        </select>

        <label for="course-description"><b>Course Description</b></label>
        <textarea placeholder="Describe the course here..." name="course-description">{{ course.description }}</textarea>
    </div>
    <div class="update-buttons">
        <input class="update" type="submit" value="Update Course">
        <a class="cancel" href="{{ url_for('viewCourse', provider_name=provider_name, course_name=course.name) }}">Cancel</a>
    </div>
</form>

<style>
    footer {
        position: static;
    }
</style>
{% endblock %}