{% extends 'base.html' %}

{% block title %}
<title>Home | MOOC Catalog</title>
{% endblock %}

{% block content %}

<div class="new-course">
    <a href="{{ url_for('newCourse') }}">Add New Course</a>
</div>

<section class="categories">
    <h2 class="subject-header">Providers Categories</h2>
    <div class="providers">
        {% for provider in providers %}
        <div class="provider-content">
            <div class="provider-text">
                <h3 class="provider-title">{{ provider.name }}</h3>
                <a href="{{ url_for('viewProvider', provider_name=provider.name) }}">View Courses</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="items">
    <h2 class="subject-header">Latest Courses</h2>
    <div class="courses">
        {% for course in latest_courses %}
        <div class="course-content">
            <a href="{{ url_for('viewCourse', provider_name='{{ provider.name }}', course_name='{{ course.course_name }}') }}">
                <h4 class="course-title">{{ course.course_name }} | {{ course.provider_name }}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<style>
    footer {
        position: static;
    }
</style>

{% endblock %}