{% extends 'base.html' %}

{% block title %}
<title>Login | MOOC Catalog</title>
{% endblock %}

{% block script %}
<!-- HIDE LOGIN BUTTON -->
<script>
    window.onload = function () {
        document.getElementById('hide').style.display = 'none';
    };
</script>
<!-- END HIDE LOGIN BUTTON -->

<!-- LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<!-- MAKE A SIGNIN Callback METHOD -->
<script>
    function signInCallback(auth_result) {
        // check if authorization with GOOGLE API server is successful
        // and one time use code is present
        if (auth_result['code']) {
            // hide the sign-in button
            $('#signinButton').attr('style', 'display: none');
            // create an Ajax call that sends the one-time-use code from the client to the server, 
            // if the server responds, write a 'login successful' message to the web page 
            // and then redirect back to the main providers page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ STATE }}',
                processData: false,
                data: auth_result['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // return a successful login message to the user
                    // then redierect to the providers main page after 4 seconds
                    if (result) {
                        $('#g-result').html('Login Successful!</br>' + result + '</br>')
                        setTimeout(function () {
                            window.location.href = "/providers";
                        }, 4000);

                    } else if (auth_result['error']) {
                        console.log('There was an error: ' + auth_result['error']);
                    } else {
                        $('#g-result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }
</script>
<!-- END MAKE A SIGNIN Callback METHOD -->

<!-- HANDLE FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '333132153980983',
            cookie: true,  // enable cookies to allow the server to access 
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {       
        var access_token = FB.getAuthResponse()['accessToken'];        
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            $('#fbSigninButton').attr('style', 'display: none');
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#fb-result').html('Login Successful!</br>' + result + '</br>')
                        setTimeout(function () {
                            window.location.href = "/providers";
                        }, 4000);

                    } else {
                        $('#fb-result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        });
    }
</script>
<!-- END HANDLE FACEBOOK SIGN IN -->

{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a> </li>
        <li>Login Options</li>
    </ul>
</nav>

<section class="login-section">
    <h2 class="subject-header">Login Options</h2>
    <div class="login-options">
        <div class="login-content">
            <div class="login-text">
                <h3 class="login-title">GOOGLE SIGN IN </h3>
                <!-- HOLD GOOGLE SIGN IN BUTTON -->
                <div id="signinButton">
                    <span class="g-signin" data-scope="openid email" data-clientid="819955292124-8sc9l6gbgo6cr6il7u4h2kebppbk0sur.apps.googleusercontent.com"
                        data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback" data-approvalprompt="force">
                    </span>
                </div>
                <!-- END HOLD GOOGLE SIGN IN BUTTON -->
            </div>
            <div class="result" id="g-result"></div>
        </div>

        <div class="login-content">
            <div class="login-text">
                <h3 class="login-title">FACEBOOK SIGN IN </h3>
                <!-- HOLD FACEBOOK SIGN IN BUTTON -->
                <div id="fbSigninButton">
                    <fb:login-button data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false"
                        data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="sendTokenToServer();">
                        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                    </fb:login-button>
                </div>
                <!-- END HOLD FACEBOOK SIGN IN BUTTON -->
            </div>
            <div class="result" id="fb-result"></div>
        </div>


    </div>

</section>

{% endblock %}