{% extends 'base.html' %}

{% block title %}
<title>New Course | MOOC Catalog</title>
{% endblock %}

{% block content %}


<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog></a></li>
        <li>Create new Course</li>
    </ul>
</nav>

<form method="post" name="Form">
    <h2 class="subject-header">Create a Course</h2>
    <p>Please fill in this form to create a course.</p>
    <div class="form-container">
        <label for="course-name"><b>Course Name</b></label>
        <input type="text" placeholder="Enter Course Name" name="course-name" required>

        <label for="provider-name"><b>Course Provider Name</b></label>
        <select name="selected-provider" required>
            <option disabled selected value> -- Select Provider -- </option>
            {% for provider in providers %}
            <option value="{{ provider.id }}">{{ provider.name }} </option>
            {% endfor %}
        </select>

        <label for="course-link"><b>Course Link</b></label>
        <input type="text" placeholder="Enter Source Link of the course" name="course-link">

        <label for="course-description"><b>Course Description</b></label>
        <textarea placeholder="Describe the course here..." name="course-description"></textarea>
    </div>
    <div class="create-buttons">
        <input class="create" type="submit" value="Create Course" >
        <a class="cancel" href="{{ url_for('providers') }}">Cancel</a>
    </div>
</form>

<style>
    footer {
        position: static;
    }
</style>

{% endblock %}