{% extends 'base.html' %}

{% block title %}
<title>{{ provider.name }} | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a> </li>
        <li>{{ provider.name }} Provider</li>
    </ul>
</nav>

<div class="provider-information">
    <h2 class="subject-header">{{ provider.name }} MOOC Provider</h2>
    <p class="provider-description">
        {{ provider.description }}
    </p>
</div>

<section class="items">
    <h2 class="subject-header">{{ provider.name }} Courses</h2>
    <div class="courses">
        {% for course in courses %}
        <div class="course-content">
            <a href="{{ url_for('viewCourse', provider_name=provider.name, course_name=course.name) }}">
                <h4 class="course-title">{{ course.name }}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}