{% extends 'base.html' %}

{% block title %}
<title>{{ provider.name }} | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a> </li>
        <li>{{ provider.name }} Provider</li>
    </ul>
</nav>

<div class="provider-information">
    <h2 class="subject-header">{{ provider.name }} MOOC Provider</h2>
    <p class="provider-description">
        {{ provider.description }}
    </p>
</div>
<div class="provider-link">
    <a href="{{ provider.link }}" target="_blank">Click Here to Link to the provider site</a>
</div>

<section class="items">
    <h2 class="subject-header">{{ provider.name }} Courses</h2>
    <div class="courses">
        {% for course in courses %}
        <div class="course-content">
            <a href="{{ url_for('viewCourse', provider_name=provider.name, course_id=course.id) }}">
                <h4 class="course-title">{{ course.name }} </h4>
                <p>--- Added by {{ course.user_name }} ---</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<style>
    footer {
        position: static;
    }
</style>
{% endblock %}