{% extends 'base.html' %}

{% block title %}
<title>{{ course.name }} - {{ provider_name }} | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="{{ url_for('providers') }}">Providers Catalog ></a> </li>
        <li><a class="nav-link" href="{{ url_for('viewProvider', provider_name=provider_name) }}">{{
                provider_name }} Provider ></a> </li>
        <li>{{ course.name }} Course</li>
    </ul>
</nav>

<div class="course-information ">
    <h2 class="subject-header">{{ course.name }}</h2>
    <h4>-- {{ provider_name }} --</h4>
    <p class="course-description">
        {{ course.description }}
    </p>
    <div class="user-course-link">
        <h4>This course information has been added by {{ course.user_name }}</h4>
        <a href="{{ course.link }}" target="_blank">Click Here to Link to the course site</a>
    </div>



</div>

<div class="buttons" {% if 'username' not in login_session or login_session['user_id'] !=course.user_id%} hidden {%
    else %} visible {% endif %}>
    <a class="edit" href="{{ url_for('editCourse', provider_name=provider_name, course_id=course.id) }}">Edit
        Course</a>
    <a class="delete" href="{{ url_for('deleteCourse', provider_name=provider_name, course_id=course.id) }}">Delete
        Course</a>
</div>

{% endblock %}