{% extends 'base.html' %}

{% block title %}
<title>course-name - provider-name | MOOC Catalog</title>
{% endblock %}

{% block content %}

<nav>
    <ul class="nav-bar">
        <li><a class="nav-link" href="#">Providers Catalog ></a> </li>
        <li><a class="nav-link" href="#">provider-name ></a> </li>
        <li>course-name</li>
    </ul>
</nav>

<div class="course-information ">
    <h2 class="subject-header">course-name</h2>
    <h4>-- provider-name --</h>
        <p class="course-description">
            course-escription
        </p>
</div>

<div class="buttons">
    <a class="edit" href="#" target="_blank">Edit Course</a>
    <a class="delete" href="#" target="_blank">Delete Course</a>
</div>

{% endblock %}